<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="_csrf" content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="${_csrf.headerName}" />

    <link rel="icon" type="image/png" href="images/logo-16x16.png" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DM - Social Network</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href="css/boxicons.min.css" rel="stylesheet">

    <!-- Styles -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div style="text-align:center;">
        <img src="/images/background/404.jpg" style='height: 60%; width: 60%; object-fit: contain' alt="error">
        <div><a class="btn btn-primary" href="/" role="button">Trở về trang chủ</a></div> 
    </div>

    
</body>

</html>