.form-button {
    opacity: 0.88;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 60%;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.login-btn {
    background: #69d2e7;
}

.form-button:hover {
    /* background: #69c8e7; */
    opacity: 1;
    color: #ffffff;
}

.fb {
    background-color: #3B5998;
    
}

.github {
    background-color: #333333;
    
}

.google {
    background-color: #dd4b39;
    
}
a.form-button{
    margin: 5px 0px;
}
