<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <th:block th:replace="fragment :: head"></th:block>
    <link href="css/auth.css" rel="stylesheet">
    <link href="css/forms.css" rel="stylesheet">

    <link href="css/my-styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="row ht-100v flex-row-reverse no-gutters">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="signup-form">
                <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="/images/logo-64x64.png" class="logo-img" alt="Logo">
                        </div>
                        <div class="col-md-8">
                            <p>Mạng xã hội DM</p>
                            <span>Hãy cùng nhau kết nối và chia sẻ</span>
                        </div>
                    </div>
                </div>

                <!-- logout message -->
                <!-- <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div> -->
                <!-- error message -->
                <div id="alert-message"></div>

                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Địa chỉ Email"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Mật khẩu"
                                    minlength="6" maxlength="10" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <a href="/forgot_password">Quên mật khẩu?</a>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-control material-checkbox">
                                <input type="checkbox" name="remember-me" class="material-control-input">
                                <span class="material-control-indicator"></span>
                                <span class="material-control-description">Nhớ tài khoản</span>
                            </label>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary sign-up"
                                    style="background-color: #1DA1F2;">Đăng nhập</button>
                            </div>
                        </div>

                        <div class="col-md-12 text-center mt-4">
                            <span class="go-login">Chưa là thành viên? <a href="/register"
                                    style="border-bottom: 1px solid #1DA1F2; color:#1DA1F2;">Đăng ký</a></span>
                        </div>

                        <div class="col-md-12 text-center mt-4">
                            <p>Hoặc đăng nhập bằng</p>
                            <div>
                                <a th:href="@{/oauth2/authorization/google}" class="google form-button"><em
                                        class="fa fa-google fa-fw">
                                    </em> <span>Đăng nhập bằng Google</span>
                                </a>
                                <a th:href="@{/oauth2/authorization/github}" class="github form-button">
                                    <em class="fa fa-github fa-fw"></em> <span>Đăng nhập bằng Github</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 auth-bg-image d-flex justify-content-center align-items-center">
            <div class="auth-left-content mt-5 mb-5 text-center">
                <!-- <div class="weather-small text-white">
                    <p class="current-weather"><i class='bx bx-sun'></i> <span>14&deg;</span></p>
                    <p class="weather-city">Gyumri</p>
                </div> -->
                <div class="text-white mt-5 mb-5">
                    <h2 class="create-account mb-3">Xin chào</h2>
                    <p>Chào mừng bạn đã đến với mạng xã hội DM.</p>
                </div>
                <!-- <div class="auth-quick-links">
                    <a href="#" class="btn btn-outline-primary">Purchase template</a>
                </div> -->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade fingerprint-modal" id="fingerprintModal" tabindex="-1" role="dialog"
        aria-labelledby="fingerprintModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3 class="text-muted display-5">Place your Finger on the Device Now</h3>
                    <img src="/images/icons/auth-fingerprint.png" alt="Fingerprint">
                </div>
            </div>
        </div>
    </div>

    <!-- Core -->
    <script src="js/jquery/jquery-3.3.1.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- Optional -->
    <script src="js/app.js"></script>
    <script>
        $(document).ready(function () {
            $("form").submit(function (event) {
                var data = $(this).serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                $.ajax({
                    method: 'post',
                    url: '/login',
                    data: data,
                    success: function (msg) {
                        // $("#alert-message").empty().append(
                        //     '<div class="alert alert-primary alert-dismissible fade show">Đăng nhập thành công</div>'
                        // ).hide().fadeIn(1000);
                        // window.setTimeout(function () {
                        //     window.location.href = msg;
                        // }, 2000);
                        window.location.href = msg;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#alert-message").empty().append(
                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                ${XMLHttpRequest.responseText}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>`
                        ).hide().fadeIn(1000);
                    }
                });
                event.preventDefault();
            })
        });
    </script>
</body>

</html>