<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <th:block th:replace="fragment :: head"></th:block>
    <link href="/css/profile.css" rel="stylesheet">

    <script src="/js/load.js" type="text/javascript"></script>
</head>

<body class="profile">
    <div class="container-fluid newsfeed d-flex" id="wrapper">
        <div class="row newsfeed-size" style="width: 100%;">
            <div class="col-md-12 p-0">

                <nav th:replace="fragment :: navbar(${currentUser},${'profile'})"></nav>

                <div class="row profile-right-side-content">
                    <div class="user-profile">
                        <div class="profile-header-background">
                            <a href="#" class="profile-cover">
                                <img th:src="${guestUser.BgLink}" alt="Profile Header Background">
                                <div th:if="${isCurrentUser}" class="cover-overlay">

                                    <a href="#" class="btn btn-update-cover"><input type="file" id="updateProfileBg"
                                            style="opacity: 0;position: absolute;top: 0;left: 0;"><i
                                            class='bx bxs-camera'></i> Update Cover
                                        Photo</a>
                                    <!-- <input type="file" name="bg-image" id="bg-image" style="display: none;"> -->
                                </div>
                            </a>
                        </div>
                        <div style="width: 90%; margin:0 auto; ">
                            <div class="row profile-rows justify-content-center">
                                <div class="col-md-3">
                                    <div class="profile-info-left"
                                        style="background-color: white;position: sticky;top: -105px;">
                                        <div class="text-center">
                                            <div class="profile-img w-shadow">
                                                <div class="profile-img-overlay"></div>
                                                <img th:src="${guestUser.avatarLink}" height="146px" width="146px"
                                                    alt="Avatar" class="avatar img-circle">
                                                <div th:if="${isCurrentUser}" class="profile-img-caption">
                                                    <label for="updateProfilePic" class="upload">
                                                        <i class='bx bxs-camera'></i> Update
                                                        <input type="file" id="updateProfilePicInput"
                                                            class="text-center upload">
                                                    </label>
                                                </div>
                                            </div>
                                            <p class="profile-fullname" th:text="${guestUser.getFullName()}"
                                                style="padding-top:4rem"></p>
                                            <div class="profile-username pb-3 text-muted" th:text="${guestUser.email}">
                                                @arthur_minasyan</div>
                                        </div>
                                        <div style="background-color:white;">
                                            <div class="intro pt-4">
                                                <div th:unless="${isCurrentUser}">

                                                    <th:block th:switch="${friendShip}">
                                                        <!-- <form th:case="null" action="/user/add-friend"
                                                            method="get">
                                                            <input type="hidden" name="id" th:value="${guestUser.userId}" />
                                                            <button type="submit" class="mr-3 btn-follow btn"><i class='bx bx-plus'></i>
                                                                Add Friend</button>
                                                        </form> -->
                                                        <a th:case="null"
                                                            th:href="${'/user/add-friend?id='+guestUser.userId}"
                                                            class="btn btn-follow mr-3"
                                                            style="border:1px solid #007bff;"><i class='bx bx-plus'></i>
                                                            Add Friend</a>
                                                        <a th:case="'nhan'"
                                                            th:href="${'/user/accept-friend?id='+guestUser.userId}"
                                                            class="btn btn-follow mr-3"><i
                                                                class="fal fa-user-check"></i>
                                                            Chấp nhận yêu cầu kết bạn</a>
                                                        <a th:case="'gui'"
                                                            th:href="${'/user/decline-friend?id='+guestUser.userId}"
                                                            class="btn btn-follow mr-3"><i
                                                                class="fal fa-user-times"></i>
                                                            Hủy yêu cầu kết bạn</a>
                                                        <div th:case="*" class="btn btn-follow mr-3"><i
                                                                class="fal fa-user-check"></i></i>
                                                            Friend</div>
                                                    </th:block>

                                                    <button type="button" class="btn btn-start-chat" data-toggle="modal"
                                                        data-target="#newMessageModal"><i
                                                            class="bx bxs-message-rounded"></i> <span
                                                            class="fs-8">Message</span></button>


                                                </div>
                                                <div class="intro mt-1 mv-hidden">
                                                    <div
                                                        class="intro-item d-flex justify-content-between align-items-center">
                                                        <h3 class="intro-about">Intro</h3>
                                                    </div>
                                                    <div
                                                        class="intro-item d-flex justify-content-between align-items-center">
                                                        <p class="intro-title text-muted"><i
                                                                class='bx bx-briefcase text-primary'></i>
                                                            <th:block th:unless="${detailUser.job}">
                                                                Job
                                                            </th:block>
                                                            <th:block th:if="${detailUser.job}"
                                                                th:text="${detailUser.job}">
                                                            </th:block>
                                                            <th:block th:if="${detailUser.jobLocation}"
                                                                th:text="${' at ' + detailUser.jobLocation}"></th:block>
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="intro-item d-flex justify-content-between align-items-center">
                                                        <p class="intro-title text-muted"><i
                                                                class='bx bx-map text-primary'></i>
                                                            <th:block th:if="${detailUser.location}"
                                                                th:text="${'Lives in ' detailUser.location}">

                                                            </th:block>
                                                            <th:block th:unless="${detailUser.location}">Lives in City,
                                                                Country</th:block>
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="intro-item d-flex justify-content-between align-items-center">
                                                        <p class="intro-title text-muted"><i
                                                                class='bx bx-time text-primary'></i>
                                                            Last Login <a href="#">Online <span
                                                                    class="ml-1 online-status bg-success"></span></a>
                                                        </p>
                                                    </div>
                                                    <div th:if="${isCurrentUser}"
                                                        class="intro-item d-flex justify-content-between align-items-center">
                                                        <a href="/setting"
                                                            class="btn btn-quick-link join-group-btn border w-100"
                                                            style="background-color: #007bff;color:white">Edit
                                                            Details</a>
                                                    </div>
                                                </div>
                                                <div class="intro mt-5 row justify-content-start mv-hidden">
                                                    <th:block th:if="${listPost.size()>0}" th:each="post : ${listPost}">
                                                        <div th:if="${post.postMediaUrl!='' && post.postMediaType!='video'}"
                                                            class="col-md-4">
                                                            <img th:src="${post.postMediaUrl}" width="80" height="80"
                                                                alt="">
                                                        </div>

                                                    </th:block>

                                                </div>
                                                <div class="intro mt-5 pb-4 mv-hidden">
                                                    <div
                                                        class="intro-item d-flex justify-content-between align-items-center">
                                                        <h3 class="intro-about">Other Social Accounts</h3>
                                                    </div>
                                                    <div
                                                        class="intro-item d-flex justify-content-between align-items-center">
                                                        <p class="intro-title text-muted"><i
                                                                class='bx bxl-facebook-square facebook-color'></i>
                                                            <a th:unless="${detailUser.facebook}"
                                                                href="javascript:void(0)">facebook</a>
                                                            <a th:if="${detailUser.facebook}"
                                                                th:href="${detailUser.facebook}"
                                                                target="_blank">facebook</a></p>
                                                    </div>
                                                    <div
                                                        class="intro-item d-flex justify-content-between align-items-center">
                                                        <p class="intro-title text-muted"><i
                                                                class='bx bxl-twitter twitter-color'></i>
                                                            <a th:unless="${detailUser.twitter}"
                                                                href="javascript:void(0)">twitter</a>
                                                            <a th:if="${detailUser.twitter}"
                                                                th:href="${detailUser.twitter}"
                                                                target="_blank">twitter</a></p>
                                                    </div>
                                                    <div
                                                        class="intro-item d-flex justify-content-between align-items-center">
                                                        <p class="intro-title text-muted"><i
                                                                class='bx bxl-instagram instagram-color'></i>
                                                            <a th:unless="${detailUser.instagram}"
                                                                href="javascript:void(0)">instagram</a>
                                                            <a th:if="${detailUser.instagram}"
                                                                th:href="${detailUser.instagram}"
                                                                target="_blank">instagram</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6 ">
                                    <div class="profile-info-right">

                                        <!-- Posts section -->
                                        <div class="row">
                                            <div class="profile-center">
                                                <!-- <ul class="list-inline profile-links d-flex justify-content-around w-shadow rounded"
                                                style="min-width: 687px;">
                                                <li class="list-inline-item profile-active w-25 text-center">
                                                    <a href="#">Timeline</a>
                                                </li>
                                                <li class="list-inline-item w-25 text-center">
                                                    <a href="#">About</a></li>
                                                <li class="list-inline-item w-25 text-center">
                                                    <a>Friends</a>
                                                </li>
                                                <li class="list-inline-item w-25 text-center">
                                                    <a href="#">Photos</a>
                                                </li>
                                                
                                            </ul> -->


                                                <ul class="nav nav-pills mb-3 profile-links" id="pills-tab"
                                                    role="tablist" style="min-width: 687px;">
                                                    <li class="nav-item w-25 text-center" role="presentation">
                                                        <a class="nav-link active" id="pills-timeline-tab"
                                                            data-toggle="pill" href="#pills-timeline" role="tab"
                                                            aria-controls="pills-home" aria-selected="true">Timeline</a>
                                                    </li>
                                                    <li class="nav-item w-25 text-center" role="presentation">
                                                        <a class="nav-link" id="pills-about-tab" data-toggle="pill"
                                                            href="#pills-about" role="tab" aria-controls="pills-about"
                                                            aria-selected="false">About</a>
                                                    </li>
                                                    <li class="nav-item w-25 text-center" role="presentation">
                                                        <a class="nav-link" id="pills-friend-tab" data-toggle="pill"
                                                            href="#pills-friend" role="tab" aria-controls="pills-friend"
                                                            aria-selected="false">Friends</a>
                                                    </li>
                                                    <li class="nav-item w-25 text-center" role="presentation">
                                                        <a class="nav-link" id="pills-photo-tab" data-toggle="pill"
                                                            href="#pills-photo" role="tab" aria-controls="pills-photo"
                                                            aria-selected="false">Photos</a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content" id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="pills-timeline"
                                                        role="tabpanel" aria-labelledby="pills-home-tab">
                                                        <th:block th:if="${isCurrentUser}">
                                                            <form th:replace="fragment :: create_post(${currentUser})">
                                                            </form>
                                                        </th:block>

                                                        <div
                                                            class="bg-white profile-posts-options mb-4 py-3 d-flex justify-content-between shadow-sm">
                                                            <div class="col-md-3 col-sm-12">
                                                                <h6 class="timeline-title">Posts</h6>
                                                            </div>

                                                        </div>
                                                        <div th:replace="fragment :: list_post"></div>
                                                    </div>
                                                    <div class="tab-pane fade" id="pills-about" role="tabpanel"
                                                        aria-labelledby="pills-about-tab">

                                                        <div class="bg-white py-3 px-4 shadow-sm">
                                                            <div class="card-head d-flex justify-content-between">
                                                                <h5 class="mb-4"
                                                                    th:text="${'About '+ detailUser.user.getFullName()}">
                                                                </h5>
                                                                <!-- <a href="#" class="btn btn-link">See All</a> -->
                                                            </div>
                                                            <p th:text="${detailUser.about}"></p>
                                                        </div>



                                                    </div>
                                                    <div class="tab-pane fade" id="pills-friend" role="tabpanel"
                                                        aria-labelledby="pills-friend-tab">
                                                        <div class="bg-white py-3 px-4 shadow-sm">
                                                            <div class="card-head d-flex justify-content-between">
                                                                <h5 class="mb-4">Friends</h5>
                                                                <!-- <a href="#" class="btn btn-link">See All</a> -->
                                                            </div>
                                                            <div class="row" th:each="f : ${friendList}">


                                                                <div class="col-md-4 col-sm-6">
                                                                    <div class="card group-card shadow-sm">
                                                                        <img th:src="${f.avatarLink}"
                                                                            class="card-img-top group-card-image"
                                                                            alt="Group image">
                                                                        <div class="card-body">
                                                                            <a th:href="${'/profile?id='+ f.userId}">
                                                                                <h5 class="card-title text-center"
                                                                                    th:text="${f.getFullName()}"></h5>
                                                                                </h5>
                                                                            </a>



                                                                            <div class="btn-group w-100" role="group">
                                                                                <a href="#"
                                                                                    class="btn btn-quick-link join-group-btn border w-100">Message</a>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="tab-pane fade" id="pills-photo" role="tabpanel"
                                                        aria-labelledby="pills-photo-tab">




                                                        <div class="bg-white py-3 px-4 shadow-sm">
                                                            <div class="card-head d-flex justify-content-between">
                                                                <h5 class="mb-4">Photos
                                                                </h5>
                                                                <!-- <a href="#" class="btn btn-link">See All</a> -->
                                                            </div>
                                                            <div class="row" th:if="${listPost.size()>0}"
                                                                th:each="post : ${listPost}">
                                                                <div class="col-md-4 col-sm-6">
                                                                    <th:block th:if="${post.postMediaUrl!=''}">
                                                                        <th:block
                                                                            th:if="${post.postMediaType=='video'}">
                                                                            <video
                                                                                class="video-js vjs-default-skin post-content"
                                                                                width="640px" height="400px" controls>
                                                                                <source th:src="${post.postMediaUrl}"
                                                                                    type="video/mp4">
                                                                            </video>
                                                                        </th:block>
                                                                        <th:block
                                                                            th:unless="${post.postMediaType=='video'}">
                                                                            <img th:src="${post.postMediaUrl}"
                                                                                class="post-content" alt="post image">
                                                                        </th:block>
                                                                    </th:block>
                                                                </div>

                                                            </div>
                                                        </div>





                                                    </div>
                                                </div>



                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- New message modal -->
        <div class="modal fade" id="newMessageModal" tabindex="-1" role="dialog" aria-labelledby="newMessageModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header new-msg-header">
                        <h5 class="modal-title" id="newMessageModalLabel">Start new conversation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body new-msg-body">
                        <form action="" method="" class="new-msg-form">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control search-input" rows="5" id="message-text"
                                    placeholder="Type a message..."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer new-msg-footer">
                        <button type="button" class="btn btn-primary btn-sm">Send message</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Core -->
        <script src="/js/jquery/jquery-3.3.1.min.js"></script>
        <script src="/js/popper/popper.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <!-- Optional -->
        <script src="/js/app.js"></script>
        <script src="/js/components/components.js"></script>
</body>

</html>