<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://spring-project-image.s3-ap-southeast-1.amazonaws.com/images/logo-16x16.png" />
    <meta name="_csrf" content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="${_csrf.headerName}" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Argon - Social Network</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Styles -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/components.css" rel="stylesheet">
    <link href="/css/auth.css" rel="stylesheet">
    <link href="/css/media.css" rel="stylesheet">
</head>

<body>
    <div class="row ht-100v flex-row-reverse no-gutters">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="signup-form">
                <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="https://spring-project-image.s3-ap-southeast-1.amazonaws.com/images/logo-64x64.png" class="logo-img" alt="Logo">
                        </div>
                        <div class="col-md-10">
                            <p>DM Social Network</p>
                            <span>Design System</span>
                        </div>
                    </div>
                </div>
                <!-- <div id="msg-alert" class="alert" role="alert" style="display: none;"></div> -->

                <form id="myForm" class="pt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="firstName" placeholder="First Name"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastName" placeholder="Last Name"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Email Address"
                                    required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" name="password_1" placeholder="Password"
                                    minlength="6" maxlength="10" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" name="password_2"
                                    placeholder="Confirm Password" minlength="6" maxlength="10" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div style="padding-top: 0.6rem;">Ngày sinh:</div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="date" class="form-control" name="birthDate" required>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <p class="agree-privacy">By clicking the Sign Up button below you agreed to our privacy
                                policy and terms of use of our website.</p>
                        </div>
                        <div class="col-md-6">
                            <span class="go-login">Already a member? <a href="sign-in.html">Sign In</a></span>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary sign-up">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="alert-message" class="text-center pb-5"></div>
            </div>
        </div>

        <div class="col-md-6 auth-bg-image d-flex justify-content-center align-items-center">
            <div class="auth-left-content mt-5 mb-5 text-center">
                <div class="text-white mt-5 mb-5">
                    <h2 class="create-account mb-3">Create Account</h2>
                    <p>Enter your personal details and start journey with us.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Core -->
    <script src="/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="/js/popper/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- Optional -->
    <script src="/js/app.js"></script>
    <script>
        $(document).ready(function () {
            $('#myForm').submit(function (event) {
                var data = $(this).serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                if (data.password_1 != data.password_2) {
                    $("#alert-message").remove().append(
                        '<div class="alert alert-danger">Mật khẩu không trùng nhau</div>')
                    return;
                }
                $("#alert-message").empty().append(
                    '<div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>'
                );
                $.ajax({
                    method: 'post',
                    url: '/register',
                    contentType : 'application/json',
                    data: JSON.stringify(data),
                    success: function (msg) {
                        $("#alert-message").empty().append(
                            '<div class="alert alert-primary">' +
                            msg + '</div>'
                        ).hide().fadeIn(1000);
                        window.setTimeout(function () {
                            window.location.href = '/login';
                        }, 4000);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#alert-message").empty().append(
                            '<div class="alert alert-danger">' +
                            XMLHttpRequest.responseText + '</div>'
                        ).hide().fadeIn(1000);
                    }
                });
                event.preventDefault(); // <- avoid reloading
            });
        });
    </script>
</body>

</html>