<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <th:block th:replace="fragment :: head"></th:block>
    <link href="/css/auth.css" rel="stylesheet">

</head>

<body>
    <div class="row ht-100v flex-row-reverse no-gutters">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="signup-form">
                <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="/images/logo-64x64.png" class="logo-img" alt="Logo">
                        </div>
                        <div class="col-md-10">
                            <p>Mạng xã hội DM</p>
                            <span>Hãy cùng nhau kết nối và chia sẻ</span>
                        </div>
                    </div>
                </div>
                <!-- <div id="msg-alert" class="alert" role="alert" style="display: none;"></div> -->

                <form id="myForm" class="pt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="firstName" placeholder="Họ" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastName" placeholder="Tên" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Địa chỉ email"
                                    required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" name="password_1" placeholder="Mật khẩu"
                                    minlength="6" maxlength="10" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" name="password_2"
                                    placeholder="Nhập lại mật khẩu" minlength="6" maxlength="10" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div style="padding-top: 0.6rem;">Ngày sinh:</div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="date" class="form-control" name="birthDate" required>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <p class="agree-privacy">Bằng việc nhấn vào nút Đăng kí bên dưới bạn đã đồng ý với những
                                chính sách và điều khoản của chúng tôi.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <span class="go-login">Đã là thành viên? <a href="/login" style="color:#1DA1F2">Đăng
                                    nhập</a></span>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary sign-up">Đăng kí</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="alert-message" class="text-center pb-5"></div>
            </div>
        </div>

        <div class="col-md-6 auth-bg-image d-flex justify-content-center align-items-center">
            <div class="auth-left-content mt-5 mb-5 text-center">
                <div class="text-white mt-5 mb-5">
                    <h2 class="create-account mb-3">Tạo tài khoản</h2>
                    <p>Hãy điền thông tin của bạn để bắt đầu với chúng tôi</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Core -->
    <script src="/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="/js/popper/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- Optional -->
    <script src="/js/app.js"></script>
    <script>
        $(document).ready(function () {
            $('#myForm').submit(function (event) {
                var data = $(this).serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                if (data.password_1 != data.password_2) {
                    $("#alert-message").remove().append(
                        '<div class="alert alert-danger">Mật khẩu không trùng nhau</div>')
                    return;
                }
                $("#alert-message").empty().append(
                    '<div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>'
                );
                $.ajax({
                    method: 'post',
                    url: '/register',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (msg) {
                        $("#alert-message").empty().append(
                            '<div class="alert alert-primary">' +
                            msg + '</div>'
                        ).hide().fadeIn(1000);
                        window.setTimeout(function () {
                            window.location.href = '/login';
                        }, 4000);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#alert-message").empty().append(
                            // '<div class="alert alert-danger">' +
                            // XMLHttpRequest.responseText + '</div>'
                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                ${XMLHttpRequest.responseText}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>`
                        ).hide().fadeIn(1000);
                    }
                });
                event.preventDefault(); // <- avoid reloading
            });
        });
    </script>
</body>

</html>